:root {
    --main-clr: #111e4c;
    --accent-clr: #009dff;
    --accent-clr-15: rgba(0, 157, 255, 0.15);
    --secondary-clr: #a8b7e7;
    --dark-clr: #000826;
    --light-clr: #fff;

    --fz-8xl: 90px;
    --fz-5xl: 48px;
    --fz-2xl: 24px;
    --fz-xl: 20px;
    --fz-base: 17px;

    --section-offset: 120px;
    --content-width: 1360px;
    --context-offset-x: 16px;

    --header-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

section {
    scroll-margin-top: calc(var(--section-offset) / 2);
}

html {
    font-size: var(--fz-base);
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', serif;
    text-transform: lowercase;
    overscroll-behavior: none;
}

.container {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 var(--context-offset-x);
}

.btn {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fz-2xl);
    color: var(--accent-clr);
    background-color: #d9f0ff;
    min-width: 240px;
    border-radius: 15px;
    transition: filter 0.3s ease;
}

.btn:hover {
    filter: brightness(1.15);
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo span {
    font-size: var(--fz-xl);
    font-weight: 500;
    color: var(--secondary-clr);
    text-transform: none;
}

.header {
    height: var(--header-height);
    padding: 20px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.nav-link {
    color: var(--secondary-clr);
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--accent-clr);
}

/* ======== Hero ======== */

.hero {
    background-color: var(--main-clr);
    height: calc(100vh - var(--header-height));
    max-height: 1400px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero .container {
    max-width: 1300px;
}

.hero h1 {
    font-size: var(--fz-8xl);
    font-weight: 700;
    color: var(--secondary-clr);
    line-height: 120%;
}

.hero h1 span {
    color: var(--accent-clr);
}

.hero p {
    margin-top: 40px;
    color: var(--secondary-clr);
    margin-right: auto;
    margin-left: auto;
    max-width: 580px;
}

.hero .btn {
    margin-top: 40px;
    background-color: #0e3167;
    margin-right: auto;
    margin-left: auto;
}

/* ======== About ======== */

.about {
    margin-top: var(--section-offset);
}

.about-title {
    font-size: var(--fz-5xl);
    font-weight: bold;
    color: var(--main-clr);
}

.about-text {
    font-size: var(--fz-2xl);
    color: var(--secondary-clr);
}

.about-text span {
    color: var(--main-clr);
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.about-content {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.about-img {
    max-width: 680px;
    min-width: 480px;
}

.about-img img {
    border-radius: 50px;
}

.advantages {
    /* display: grid;
    grid-template-columns: minmax(220px, 260px) minmax(220px, 260px); */
    display: flex;
    flex-wrap: wrap;
    gap: 60px 80px;

    max-width: 600px;
}

.advantage {
    max-width: 260px;
}

.advantage-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-clr-15);
    width: 66px;
    height: 66px;
    border-radius: 14px;
}

.advantage-title {
    margin-top: 22px;
    font-size: var(--fz-2xl);
    font-weight: bold;
    color: var(--main-clr);
}

.advantage-text {
    margin-top: 10px;
    color: var(--secondary-clr);
}

/* ==== Services ==== */
.services {
    padding: var(--section-offset) 0;
    background-color: var(--main-clr);
}

.services .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.services-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(240px, 280px));
    gap: 40px;
}

.service-item {
    display: block;
    background-color: var(--dark-clr);
    height: 320px;
    border-radius: 40px;
    padding: 56px 60px 24px 60px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.service-item-all {
    background-color: var(--accent-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.service-item:hover {
    background-color: var(--accent-clr);
}

.service-item:hover img {
    transform: scale(1.1);
}

.service-item img {
    width: 110px;
    height: 110px;
    transition: all 0.3s ease-in-out;
}
.service-item h3 {
    margin-top: 32px;
    font-size: var(--fz-2xl);
    font-weight: bold;
    color: var(--light-clr);
}

.service-item-all h3 {
    margin-top: 0;
}

.service-item span {
    color: var(--secondary-clr);
    font-weight: 500;
    margin-top: 36px;
}
.services-content {
    color: var(--secondary-clr);
    max-width: 560px;
}
.services-title {
    font-size: var(--fz-5xl);
    font-weight: bold;
}
.services-text {
    margin-top: 24px;
    font-size: var(--fz-2xl);
}

/* ==== FOOTER ==== */

.footer {
    margin-top: var(--section-offset);
    background-color: var(--main-clr);
    height: 200px;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
}

.footer-list {
    display: flex;
    align-items: center;
    gap: 60px;
    color: var(--secondary-clr);
}

.footer-list a {
    transition: all 0.3s ease-in-out;
}

.footer-list a:hover {
    color: var(--accent-clr);
}

.socials-list {
    gap: 22px;
}

.socials-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-clr);
    transition: all 0.3s ease-in-out;
}

.socials-list a:hover {
    background-color: var(--secondary-clr);
}

@media screen and (max-width: 1200px) {
    .about-content {
        flex-direction: column-reverse;
    }

    .advantages {
        max-width: 100%;
        justify-content: center;
    }

    .about-img {
        max-width: 100%;
        min-width: 100%;
        height: 500px;
    }
    .about-img img {
        min-width: 100%;
        object-position: 50% 20%;
    }

    .services .container {
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }

    .services-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --fz-8xl: 48px;
    }

    .hero .container {
        max-width: 700px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        column-gap: 28px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --fz-8xl: 40px;
        --fz-5xl: 32px;
        --fz-2xl: 20px;
        --fz-base: 15px;

        --section-offset: 60px;
    }

    .about-content {
        margin-top: 30px;
    }
    .about-img {
        height: 320px;
    }
    .advantages {
        gap: 30px;
    }
    .advantage {
        max-width: 260px;
    }

    .footer .container {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .service-item {
        height: 260px;
        padding: 28px;
    }
}

@media screen and (max-width: 640px) {
    :root {
        --header-height: 100px;
    }

    .header {
        padding: 14px 0;
    }
    .header .container {
        justify-content: center;
        flex-direction: column;
        gap: 12px;
    }

    .logo img {
        width: 32px;
        height: 32px;
    }

    .logo span {
        font-size: var(--fz-lg);
    }

    .services-list {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}
